<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.survey.surveyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SurveyApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionbar"
        android:usesCleartextTraffic="true"
        tools:overrideLibrary="androidx.legacy.v4"
        tools:replace="android:allowBackup">

        <activity
            android:name=".activities.ActivitySplash"
            android:theme="@style/AppThemeNoActionbarFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MyDaggerActivity" />

        <activity
            android:name=".activities.ActivitySelectFlow"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.ActivityLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.ActivityLoginPhoneNumber"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.ActivityLoginVerifyOTP"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.ActivityLoginEmail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.ActivityCreateAccount"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--User Flow-->
        <activity
            android:name=".activities.user_flow.UserBaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.user_flow.ActivityUserMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--Vendor Flow-->
        <activity
            android:name=".activities.vendor_flow.VendorBaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.vendor_flow.ActivityVendorMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.vendor_flow.ActivityVendorAddSurveyQuestions"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.vendor_flow.ActivityVendorDraftSurveys"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.vendor_flow.ActivityVendorReceivedResponses"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.vendor_flow.ActivityVendorSurveyDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- Facebook Login Details -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>